#text-main-path-apps {
  padding: 1em 1em;
}
#text-main-path-arow {
  padding: 1em 1em;
}
#text-main-path-moveapp {
  padding: 1em 1em;
}
#text-main-path-viewb {
  font-size: 2em;
  padding: 0;
}
#text-main-path-code {
  font-size: 2em;
  padding: 1em 1em;
}
#text-main-column {
  border-radius: 0.8em;
  padding: 0.4em 0.7em;
}
#text-main-plus {
  padding: 0.3em 0.7em;
}
#text-main-block-dots {
  padding: 0 0;
  font-size: 1.3em;
}
#text-main-block-research {
  padding: 0 0;
  font-size: 1.3em;
}
#text-main-block-user {
  padding: 0 0;
  font-size: 1.3em;
}
#text-main-block-low {
  padding: 0 0;
  font-size: 1.3em;
  width: 100%;
  border-bottom: 1px solid rgba(99, 98, 98, 0.5);
}
#text-main-block-number {
  padding: 0.3em 0.3em;
  font-size: 1.3em;
}
.todos {
  background-color: rgb(137, 227, 243);
}
.inwork {
  background-color: blueviolet;
}
.review {
  background-color: rgb(233, 128, 30);
}
.done {
  background-color: rgb(175, 248, 126);
}
