.hero-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.hero {
  display: flex;
  flex-wrap: wrap;
}
.hero-main {
  width: 31%;
  border: 2px solid rgb(193, 12, 209);
  margin: 5px;
  background-color: black;
}
.hero-name {
  margin: 5px;
  color: white;
}
