.center-main {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(20, 20, 20);
}
.center-main-path {
  width: 100%;
  height: 3em;
  display: flex;
  text-align: center;
}
#text-main-path-projects {
  padding: 0.5em 0.5em;
}
#text-main-path-aro {
  margin-left: 10px;
  padding: 0.5em 0.5em;
}
.center-main-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  border-bottom: 1px solid rgba(99, 98, 98, 0.2);
}
#text-main-crypter {
  margin: 0 0 5px 15px;
  font-size: 3em;
}
#text-main-member {
  margin: 0 15px 5px 0;
  font-size: 3em;
}
#text-main-member:hover{
  border-radius: 5%;
  background-color: rgba(32, 83, 151, 0.815) !important;
}
.center-main-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  border-bottom: 1px solid rgba(99, 98, 98, 0.2);
}
#text-main-path-tasks {
  font-size: 2em;
  padding: 0.3em 1em;
}
#text-main-path-tasks:hover{
  background-color: rgba(32, 83, 151, 0.815);
  border-radius: 3%;
}
#text-main-path-obj {
  font-size: 2em;
  padding: 0.3em 1em;
}
#text-main-path-obj:hover{
  background-color: rgba(32, 83, 151, 0.815);
  border-radius: 3%;
}
#text-main-path-watchlist {
  font-size: 2em;
  padding: 0.3em 1em;
}
#text-main-path-watchlist:hover{
  background-color: rgba(32, 83, 151, 0.815);
  border-radius: 3%;
}
#text-main-path-favou {
  font-size: 2em;
  padding: 0.3em 1em;
}
#text-main-path-favou:hover{
  background-color: rgba(32, 83, 151, 0.815);
  border-radius: 3%;
}
.center-main-lists {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.todo {
  width: 33%;
  border: 1px solid rgba(99, 98, 98, 0.2);
}
.todo-folder-top{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  
}
.todo-folder {
  width: 80%;
  background-color: rgba(54, 54, 54, 0.541);
  display: flex;
  justify-content: space-around;
  border-radius: 15px 15px 0 0;
}
.todo-blocks-top{
  width: 100%;
  display: flex;
  justify-content: center;
}
.todo-blocks {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 80%;
  background-color: rgba(54, 54, 54, 0.541);
  border-radius: 0 0 15px 15px;
}
.center-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 8em;
  border-radius: 0.7em;
  
}
.center-main-block div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.main-blocks-lower-num {
  display: flex;
  width: 30% !important;
}
