.side-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 20%;
  background-color: rgb(32, 32, 32);
}

div.side-bar div {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.folder-side-bar {
  flex-direction: row;
  justify-content: space-around;
}
.search-side-bar-input {
  justify-content: center;
}

.menu-side-bar {
  height: 4em;
  align-items: center;
}
.propjects-side-bar {
  justify-content: center;
  flex-direction: column;
}
.general-side-bar {
  height: 4em;
  align-items: center;
}
.support-side-bar {
  justify-content: center;
  flex-direction: column;
}
.light-side-bar {
  justify-content: center;
}
.name-side-bar {
  justify-content: center;
  align-items: center;
}
